a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html { font-size: 14px; }

@media (min-width: 768px) {
    html { font-size: 16px; }
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffd2a4;
    color: #3d3d3d;
    padding: 0px 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.logo {
    height: 100px;
    width: 150px;
}
.text {
    font-weight:lighter;
    font-size: medium;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    /*
    position: fixed;
    top: 0;
    left: 0;*/
    box-shadow: 5px 5px 20px #3d3d3d;
    width:100%;
    z-index: 1;
    background-color: white;
}
nav ul{
    display: flex;
    }
nav ul li {
      font-family: calibri;
      height:40px;
      line-height: 43px;
      margin: 3px;
      padding: 0px 22px;
      display: flex;
      font-size: 0.8rem;
      text-transform: uppercase;
      font-weight: 500;
      color:#3d3d3d;
        letter-spacing: 1px;
        border-radius: 3px;
        transition: 0.2s ease-in-out;
        font-size: small;
      }

nav ul li:hover{
        background-color: #ffd2a4;
        color:#3d3d3d;
        box-shadow: 5px 10px 30px rgba(85, 94, 39, 0.411);
        transition: all ease 0.2s;
        }

@media(max-width:800px) {
            nav  {
                flex-direction: column;
                align-items: center;
        
            }
            nav ul {
                flex-direction: column;
                align-items: center;

            }

            .head {
                flex-direction: column;
                text-align: center;
            }
            
        }



